/node_modules
/public/css/theme.min.css
/public/js/app.min.js
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
config/
sftp-config.json
composer.phar
.package-lock.json